/* common */
body {
    background-color: #FFEEB8;
}

.mt30 {
    margin-top: 30px;
}
.mt100 {
    margin-top: 100px;
}

h1, h2 {
    font-family: BMYEONSUNG;
}

/* index.html */




/* test.html */




/* result.html */
#img {
    width: 200px;
    border-radius: 100px;
}

#explain {
    font-family: BMYEONSUNG;
    font-size: 24px;
}


/* test */


/* font */
@font-face {
    font-family: 'BMYEONSUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
